/* 
html:hover {
    cursor: url(mouse-pointer/simple-hammer.png), pointer;
    /* transform:rotate(40deg) : 이미지 회전 시 필요*/
/*이미지의 최대 사이즈는 108px 입니다.*/


#change-pointer {
    display: flex;
    align-items: center;
}

/* #pointer{
    transform: rotate(270deg);
    transform: scaleX(-1);
} */